.login-container {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;

    & input {
    font-weight: var(--font-regular);
    background-color: var(--card-background);
    border: 1px solid var(--active-background);
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    color: var(--text-color);
    transition: border;

    &::placeholder {
      color: var(--text-color);
      opacity: 0.7;
    }
  }

}


.form-signin {
  width: 100%;
  max-width: 400px;
  padding: 15px;
  margin: auto;
  background-color: var(--card-background);
  border-radius: 16px;
  padding: 2rem 2rem 0 2rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

  & button {
    background-color: var(--color-primary) !important;
    color: white !important;
  
  }
  
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-signin button.login-button {
  background-color: var(--active-background) !important;
}
