<div class="container my-4">
  <h2 class="mb-4">Livros de Registro</h2>
  <p class="lead mb-5">Selecione o tipo de livro que deseja acessar.</p>

  <div class="row">
    <!-- Card para Certificado de Batismo -->
    <div class="col-md-6 mb-4">
      <div class="card h-100">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">Livro de Batismo</h5>
          <p class="card-text">Gere uma nova página para anexar ao livro de batismo da igreja.</p>
          <a routerLink="/livro/batismo" class="btn btn-primary mt-auto">Acessar</a>
        </div>
      </div>
    </div>

    <!-- Card para Certificado de Confirmação -->
    <!-- <div class="col-md-6 mb-4">
      <div class="card h-100">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">Livro de Confirmação</h5>
          <p class="card-text">Gere um novo certificado para registrar a confirmação de um membro da igreja.</p>
          <a routerLink="/certificado/confirmacao" class="btn btn-primary mt-auto">Gerar Certificado</a>
        </div>
      </div>
    </div> -->
  </div>
</div>
