<div class="container my-4">
  <h2 class="mb-4">Emissão de Certificados</h2>
  <p class="lead mb-5">Selecione o tipo de certificado que deseja gerar.</p>

  <div class="row">
    <!-- Card para Certificado de Batismo -->
    <div class="col-md-6 mb-4">
      <div class="card h-100">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">Certificado de Batismo</h5>
          <p class="card-text">Gere um novo certificado para registrar o batismo de um membro da igreja.</p>
          <a routerLink="/certificado/batismo" class="btn btn-primary mt-auto">Gerar Certificado</a>
        </div>
      </div>
    </div>

    <!-- Card para Certificado de Confirmação -->
    <div class="col-md-6 mb-4">
      <div class="card h-100">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">Certificado de Confirmação</h5>
          <p class="card-text">Gere um novo certificado para registrar a confirmação de um membro da igreja .</p>
          <a routerLink="/certificado/confirmacao" class="btn btn-primary mt-auto">Gerar Certificado</a>
        </div>
      </div>
    </div>
  </div>
</div>
