.leituras {
  margin-top: 2rem;
}

.oracoes {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.campo-oracao {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.campo-oracao-input {
  flex: 1;
}

.btn .mat-icon {
  font-size: 1.05rem;
  height: auto;
  width: auto;
}

.add {
  width: 200px !important;
  max-width: 300px !important;
  background-color: var(--color-primary);
  color: var(--color-primary-contrast) !important;
}