<div class="sidebar">
  
  <!-- botão X no topo -->
  <div class="sidebar-header">
    @if(isExpanded && isMobile){
      <button class="close-btn" (click)="toggleSidebar()">
        <mat-icon>close</mat-icon>
      </button>
    }
  </div>

  <a class="sidebar-brand" (click)="toggleSidebar()">
    <img [src]="isDarkMode ? 'casa2.png' : 'casa.png'" alt="" width="65" height="60">
  </a>
  <hr>
  <ul class="nav nav-pills flex-column mb-auto">
    <li>
      <a class="nav-link m-sm" routerLink="/home" routerLinkActive="active">
        <mat-icon>home</mat-icon>
        Central
      </a>
    </li>
    <li>
      <a class="nav-link m-sm" routerLink="/dashboard" routerLinkActive="active">
        <mat-icon>dashboard</mat-icon>
        Dashboard
      </a>
    </li>
    <li>
      <a class="nav-link m-sm" routerLink="/membros" routerLinkActive="active">
        <mat-icon>people</mat-icon>
        Membros
      </a>
    </li>
    <li>
      <a class="nav-link m-sm" routerLink="/acoes" routerLinkActive="active">
        <mat-icon>volunteer_activism</mat-icon>
        Caixa
      </a>
    </li>
    <li>
      <a class="nav-link m-sm" routerLink="/relatorios-caixas" routerLinkActive="active">
        <mat-icon>bar_chart</mat-icon>
        Relatórios de Caixas
      </a>
    </li>
    <li>
      <a class="nav-link m-sm" routerLink="/agenda" routerLinkActive="active">
        <mat-icon>event</mat-icon>
        Agenda
      </a>
    </li>
    <li>
      <a class="nav-link m-sm" routerLink="/certificado" routerLinkActive="active">
        <mat-icon>inventory_2</mat-icon>
        Certificados
      </a>
    </li>
    <li>
      <a class="nav-link m-sm" routerLink="/lecionario" routerLinkActive="active">
        <mat-icon>menu_book</mat-icon>
        Lecionário
      </a>
    </li>
    <li>
      <a class="nav-link m-sm" routerLink="/lecionario/listar" routerLinkActive="active">
        <mat-icon>bookmarks</mat-icon>
        Gerenciar lecionários
      </a>
    </li>
    <li>
      <a class="nav-link m-sm" routerLink="/livro" routerLinkActive="active">
        <mat-icon>auto_stories</mat-icon>
        Livros de Registro
      </a>
    </li>
  </ul>
  <hr>
  <div class="dropdown">
    <button (click)="onToggle()">
      <mat-icon>{{ isDarkMode ? 'dark_mode' : 'light_mode' }}</mat-icon>
    </button>
    <img [src]="fotoUsuario ? fotoUsuario : avatarPadrao " alt="" width="32" height="32" class="rounded-circle">
  </div>
</div>
