<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h2>Registros de Batismo</h2>
  </div>
  <div class="card px-5 py-4 mb-3">
    <div class="d-flex justify-content-between align-items-center">
      <input type="text" class="form-control w-25" placeholder="Pesquisar..." placeholder="Páscoa" #input>
      <div>
        <!-- Botão de cadastro apenas para telas grandes -->
        <button class="btn" type="button" routerLink="/livro/batismo/cadastro">
          <mat-icon>add</mat-icon> Novo Registro
        </button>
      </div>
    </div>

  </div>

  <div class="card p-5">
    <div class="table-responsive">
      <table>
        <thead>
          <tr>
            <th>Número Registro</th>
            <th>Nome</th>
            <th>Data Batismo</th>
            <th>Página</th>
            <th>Cidade</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          @for(reg of registros; track reg.id){
          <tr>
            <td>{{ reg.numero_registro }}</td>
            <td>{{ reg.nome_irmao }}</td>
            <td>{{ reg.data_batismo }}</td>
            <td>{{ reg.pagina }}</td>
            <td>{{ reg.cidade }}</td>
            <td>
              <div class="d-flex justify-content-center align-items-center gap-1">
                <button type="button" class="btn btn-sm btn-outline-primary" (click)="gerarFolha(reg)" title="Baixar Página">
                  <mat-icon>picture_as_pdf</mat-icon>
                </button>
                       <button type="button" class="btn btn-sm btn-outline-danger" (click)="deletar(reg.id!)" title="Excluir registro">
                        <mat-icon style="font-size: 14pt;">delete</mat-icon>
                      </button>
              </div>
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>

    <div class="w-100 d-flex justify-content-end mt-4">
      <button type="button" class="btn" (click)="gerarLivroCompleto()" [disabled]="!registros.length"
        title="Gerar PDF com todos os registros">
        <mat-icon>download</mat-icon> Gerar Livro
      </button>

    </div>
  </div>